*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --Dark-Green-Blue-: hsl(217, 19%, 35%);
    --Desaturated-Dark-: Blue: hsl(214, 17%, 51%);
    --Grayish-Blue-: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    --ff-primary:  'Raleway', sans-serif;
    --ff-secondary: font-family: 'Raleway', sans-serif;
    --fw-reg: 300;
    --fw-bold: 700;
    --clr-light: #fff;
    --clr-dark: #30303030;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-body:14px;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25) 0.125em 0.125e 0.25em rgba(0, 0, 0, .15);
    --Gradient: hsl(6, 100%, 80%);
    --Gradient1: hsl(335, 100%, 65%);
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
    --radius: .4rem;
    --radius-section: .2rem;
}

@media screen and (min-width:800px) {
    :root {
        -fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1rem;
        --fs-h5: .7rem;
    }
}

/* General style */

body {
    font-size: var(--fs-body);
    line-height: 1.6;
    font-family: var(--ff-primary);
    background-color: var(--Light-Grayish-Blue);
    background-image: url('./images/bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
}

main {

    color: var(--clr-light);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

@media screen and (min-width:800px) {
    main {
        display: flex;
        justify-content: center;
        margin-top: 8rem;
        align-items: flex-start;
    }
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0px;
    padding: 0px;
}

h4 {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.section {
    margin: 0 1rem 1rem 1rem;
    padding: 1.5rem 1.5rem;
    background-color: var(--Dark-Green-Blue-);
}

.section-one {
    border-top-left-radius: .2rem;
    border-top-right-radius: 3.5rem;
    border-bottom-left-radius: .2rem;
}


.section-one-actions {
    margin-top: 1rem;
    display: flex;
}

.section-two-heading {
    text-align: center;
    margin-bottom: .5em;
}

.section-one-actions img {
    padding: .7rem;
    background-color: var(--Very-Dark-Blue);
    cursor: pointer;
    border-radius: var(--radius-);
}
.section-two-inner{
    padding-bottom: 2px;
}

.section-two {
    border-radius: var(--radius);
}

.action+.action {
    margin-left: 1rem;
}


.total {
    padding: .3rem;
    background-color: var(--Very-Dark-Blue);
    display:flex;
}

.used {
    padding: inherit;
    background-color: var(--Gradient);
    width: 78%;
}

.dot{
    background-color:var(--clr-light);
    width:2%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    
}

.pop-up {
    color: #000000;
    padding: .5rem;
    font-size:1rem;
    background-color: var(--clr-light);
    width: 150px;
    text-align: center;
    position: relative;
    bottom:-100px;
    left: 70px;
    z-index: 2;
    margin:0px;

}

.amount-range{
    display:flex;
    justify-content: space-between;
}

@media screen and (min-width:800px) {

    .section-two {
        width: 40%;
        padding-bottom: 0;
        align-self: flex-end;
    }

    .pop-up {
       top:-50px;
       left:65%;
    }

}